node_modules/
dist/
.env
.vscode/
.DS_Store
npm-debug.log
yarn-error.log
.idea/
*.iml
coverage/
build/
out/
logs/
*.log
.cache/
.env.local
.env.development.local
.env.test.local
.env.production.local
.next/
*.tsbuildinfo
.vite/
dist-ssr/
package-lock.json

# Runtime data
input/
output/